:root {
    --meaning-color: #E0CF46;
    --kun-reading-color: #5184E0;
    --on-reading-color: #B23AE0;
    --part-color: #F0853A;
    --disabled-part-color: #66330e;
}

html, main, body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
}

#kanji-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px;
}

#add-remove-buttons {
    display: flex;
    flex-direction: column;
}

#add-remove-buttons button {
    margin: 5px;
    background-color: white;
    width: 1.5em;
    height: 1.5em;
    transition-duration: 0.2s;
}

#add-remove-buttons button:hover{
    background-color: lightgrey;
}

.kanji {
    margin: 10px;

    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    /*flex: 0 1 0;*/
    
    max-height: 90%;
    height: auto;

    width: 22.5%;
}

.kanji-image {
    height: auto;
    width: 100%;
}

.strokes {
    
    
    width: 100%;
    height: 0;
    padding-top: 100%;
    
    box-sizing: border-box;
    
    border-color: black;
    border-style: solid;
    border-width: 5px;

    background-color: white;
    
    position: relative;
}

svg {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

path {
    stroke: black;
    transition-duration: 0.2s;
}

path:hover {
    stroke: red;
}

g.highlighted path {
    stroke: orange;
}

button.highlighted {
    background-color: orange;
}

.kanji-input {
    min-width: 1em;
    width: 1em;
    height: 1em;
    
    text-align: center;
    font-size: 3em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Noto Sans JP', sans-serif;
}

.card-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: salmon;
    border-style: none;
    font-size: 2em;
    border-radius: 10px;
    transition-duration: 0.2s;
    display: none;
}

.kanji:hover .card-delete {
    display: block;
}

.card-delete:hover {
    background-color: red;
}

.kanji-data {

    margin-top: 10px;
    width: 90%;
    height: 200px;
    position: relative;
    
}

/* The data-container element exists to properly align the cards. If the kanji-data element has a variable height then the cards may become disaligned*/
.data-container 
{
    background-color: white;
    width: 100%;
    max-height: 120%;
    height: fit-content;
    overflow: auto;
    
    border-radius: 10px;
    
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
}

details {
    
}

.data-section {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

summary {
    font-family: 'Open Sans', sans-serif;
}

.readings {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.kun-readings, .on-readings {
    display: inline-block !important;;
    height: fit-content;
    width: fit-content;
}

.data-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    box-sizing: border-box;
    width: max-content;
    position: relative;

    text-align: center; 
}

.meaning-tag {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    
    font-size: 1.2em;
    
    background-color: var(--meaning-color);
}

.part-tag {
    background-color: var(--part-color);
    font-family: 'Noto Sans JP', sans-serif;
    width: auto;
    height: auto;
    border-style: none;

    user-select: text;
    
    font-size: 1.2em;
}

.deactivated-part-tag {
    background-color: var(--disabled-part-color);
}

.reading-tag {
    font-family: 'Noto Sans JP', sans-serif;
}

.on-reading-tag {
    background-color: var(--on-reading-color);
}

.kun-reading-tag {
    background-color: var(--kun-reading-color);
}

.tag-remove-button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -25%);
    height: 18px;
    width: 18px;
    border-style: none;
    border-radius: 9px;
    text-align: center;
    
    font-size: 15px;
    padding: 0;
    transition-duration: 0.2s;
    
    background-color: red;
    display: none;
}

.data-tag:hover .tag-remove-button {
    display: block;
}

.tag-remove-button:hover {
    background-color: salmon;
}